Repository SCIInstitute/SCIRun, pull requests merged in 2018-06, with the labels that each got.

#1778 Boost upgrade
  Superbuild/BoostExternal.cmake
  Superbuild/UseBoost.cmake
  src/Core/Algorithms/Math/EvaluateLinearAlgebraBinaryAlgo.cc
  src/Core/Algorithms/Math/EvaluateLinearAlgebraBinaryAlgo.h
  src/Core/Algorithms/Math/EvaluateLinearAlgebraUnaryAlgo.cc
  src/Core/Algorithms/Math/EvaluateLinearAlgebraUnaryAlgo.h
  src/Core/Algorithms/Math/Tests/EvaluateLinearAlgebraBinaryTests.cc
  src/Core/Algorithms/Math/Tests/EvaluateLinearAlgebraUnaryTests.cc
  src/Core/ConsoleApplication/ConsoleApplication.cc
  src/Core/Containers/Tests/Array2Tests.cc
  src/Core/Datatypes/Legacy/Bundle/Bundle.cc
  src/Core/Datatypes/Legacy/Field/HexVolMesh.h
  src/Core/Datatypes/Legacy/Field/PrismVolMesh.h
  src/Core/Datatypes/Legacy/Field/QuadSurfMesh.h
  src/Core/Datatypes/Legacy/Field/TetVolMesh.h
  src/Core/ImportExport/GenericIEPlugin.h
  src/Core/Math/MiscMath.h
  src/Core/Math/Tests/FloatingPointAssertionTests.cc
  src/Core/Thread/Parallel.cc
  src/Core/Utils/TypeIDTable.h
  src/Dataflow/Engine/Scheduler/DynamicExecutor/WorkQueue.h
  src/Interface/Application/GuiApplication.cc
  src/Interface/Modules/CMakeLists.txt
  src/Interface/Modules/Factory/CMakeLists.txt
  src/Main/scirunMain.cc
  src/Testing/Utils/MatrixTestUtilities.h
Labels: Build, External Libraries

#1782 Fix for CarpMesh exporter in WriteField module
  src/Core/IEPlugin/CARPMesh_Plugin.cc
Labels: Data Export

#1780 Merging old cbright code--branch cleanup 2018
  headless_build.sh
  src/CMake/scripts/repair_package.sh.in
  src/Core/Algorithms/Legacy/DataIO/CMakeLists.txt
  src/Core/Algorithms/Legacy/DataIO/G3D.cpp
  src/Core/Algorithms/Legacy/DataIO/G3D.h
  src/Core/Algorithms/Legacy/DataIO/G3DToFieldReader.cc
  src/Core/Algorithms/Legacy/DataIO/G3DToFieldReader.h
  src/Core/IEPlugin/CMakeLists.txt
  src/Core/IEPlugin/G3DToField_Plugin.cc
  src/Core/IEPlugin/G3DToField_Plugin.h
  src/Core/IEPlugin/IEPluginInit.cc
  src/Externals/eigen/Eigen/PardisoSupport
  src/Externals/eigen/Eigen/src/Core/Assign_MKL.h
  src/Externals/eigen/Eigen/src/Core/arch/AltiVec/PacketMath.h
  src/Externals/eigen/Eigen/src/Core/arch/SSE/PacketMath.h
  src/Externals/eigen/Eigen/src/Core/arch/ZVector/PacketMath.h
  src/Externals/eigen/Eigen/src/Core/util/BlasUtil.h
  src/Externals/eigen/Eigen/src/Core/util/DisableStupidWarnings.h
  src/Externals/eigen/Eigen/src/Core/util/MKL_support.h
  src/Externals/eigen/Eigen/src/Core/util/Meta.h
  src/Externals/eigen/Eigen/src/Geometry/Scaling.h
  src/Externals/eigen/Eigen/src/misc/lapacke.h
  src/Externals/eigen/bench/bench_multi_compilers.sh
  src/Externals/eigen/bench/bench_unrolling
  src/Externals/eigen/bench/benchmark_suite
  src/Externals/eigen/bench/btl/data/go_mean
  src/Externals/eigen/bench/btl/data/mk_new_gnuplot.sh
  src/Externals/eigen/bench/btl/data/smooth_all.sh
  src/Externals/eigen/bench/btl/generic_bench/timers/portable_timer.hh
  src/Externals/eigen/bench/perf_monitoring/gemm/make_plot.sh
  src/Externals/eigen/bench/perf_monitoring/gemm/run.sh
  src/Externals/eigen/blas/testing/runblastest.sh
  src/Externals/eigen/scripts/buildtests.in
  src/Externals/eigen/scripts/check.in
  src/Externals/eigen/scripts/debug.in
  src/Externals/eigen/scripts/release.in
  src/Externals/eigen/test/geo_transformations.cpp
  src/Externals/eigen/unsupported/Eigen/src/AutoDiff/AutoDiffScalar.h
  src/Interface/Modules/DataIO/CMakeLists.txt
  src/Interface/Modules/DataIO/WriteG3DDialog.cc
  src/Interface/Modules/DataIO/WriteG3DDialog.h
  src/Interface/Modules/DataIO/WriteG3DDialog.ui
  src/Interface/Modules/Visualization/ShowField.ui
  src/Modules/DataIO/CMakeLists.txt
  src/Modules/DataIO/GenericWriter.h
  src/Modules/DataIO/WriteG3D.cc
  src/Modules/DataIO/WriteG3D.h
  src/Modules/Factory/Config/TODO/WriteG3D.module
Labels: Data Export

#1785 Boost revert--FAST TRACK REVIEW/MERGE PLEASE
  Superbuild/BoostExternal.cmake
  src/Core/Datatypes/Legacy/Bundle/Bundle.cc
  src/Core/Math/MiscMath.h
  src/Core/Math/Tests/FloatingPointAssertionTests.cc
  src/Testing/Utils/MatrixTestUtilities.h
Labels: Build, External Libraries

#1786 Merciful conclusion of U milestone
  .travis.yml
  Superbuild/Superbuild.cmake
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
Labels: Build

#1796 Logging hang fix
  Superbuild/SpdLogExternal.cmake
  src/Core/Application/Application.cc
  src/Core/Application/Preferences/Preferences.cc
  src/Core/ConsoleApplication/ConsoleApplication.cc
  src/Core/Datatypes/ColorMap.cc
  src/Core/Logging/Log.cc
  src/Core/Logging/Log.h
  src/Core/Logging/Logger.cc
  src/Core/Logging/Tests/Log4cppWrapperTests.cc
  src/Core/Thread/Parallel.cc
  src/Dataflow/Engine/Controller/NetworkEditorController.cc
  src/Dataflow/Engine/Scheduler/DynamicExecutor/WorkUnitConsumer.h
  src/Dataflow/Engine/Scheduler/DynamicExecutor/WorkUnitExecutor.h
  src/Dataflow/Engine/Scheduler/DynamicExecutor/WorkUnitProducer.h
  src/Dataflow/Engine/Scheduler/DynamicMultithreadedNetworkExecutor.cc
  src/Dataflow/Engine/Scheduler/SchedulerInterfaces.h
  src/Dataflow/Serialization/Network/NetworkXMLSerializer.cc
  src/Externals/spire/entity-system/ESCoreBase.cpp
  src/Externals/spire/es-fs/fscomp/StaticFS.hpp
  src/Externals/spire/es-log/trace-log.cc
  src/Externals/spire/es-log/trace-log.h
  src/Externals/spire/es-render/GeomMan.cpp
  src/Interface/Application/GuiApplication.cc
  src/Interface/Application/GuiLogger.cc
  src/Interface/Application/GuiLogger.h
  src/Interface/Application/ModuleLogWindow.cc
  src/Interface/Application/NetworkEditor.cc
  src/Interface/Application/NetworkEditorControllerGuiProxy.cc
  src/Interface/Application/Note.cc
  src/Interface/Modules/Base/ModuleDialogGeneric.cc
  src/Interface/Modules/Math/BasicPlotterDialog.cc
Labels: Bug, Logging
