Repository SCIInstitute/SCIRun, pull requests merged in 2018-08, with the labels that each got.

#1836 Switch to ninja for OSX travis builds
  .travis.yml
Labels: Build, Priority-High

#1835 CARP Surface Reader included in CARPMesh IEPlugin
  src/Core/IEPlugin/CARPMesh_Plugin.cc
  src/Modules/Factory/Tests/ModuleReplaceBuilderTests.cc
Labels: Data Export, Data Import

#1842 Various fixes
  src/Core/Algorithms/Base/AlgorithmBase.cc
  src/Core/Algorithms/Base/AlgorithmLogger.h
  src/Core/Algorithms/Legacy/Fields/DistanceField/CalculateInsideWhichFieldAlgorithm.cc
  src/Core/Algorithms/Legacy/Fields/MeshDerivatives/GetCentroids.cc
  src/Core/Algorithms/Legacy/Fields/MeshDerivatives/GetCentroids.h
  src/Core/Logging/ConsoleLogger.cc
  src/Core/Logging/ConsoleLogger.h
  src/Core/Logging/LoggerInterface.h
  src/Dataflow/Network/Module.cc
  src/Dataflow/Network/Module.h
  src/Dataflow/Network/ModuleExceptions.h
  src/ExampleNets/regression/GetCentroidsFromMeshTest.srn5
  src/ExampleNets/regression/ReorderNormalCoherentlyTest.srn5
  src/Interface/Application/ModuleLogWindow.cc
  src/Interface/Application/ModuleLogWindow.h
  src/Interface/Modules/Factory/Tests/ModuleDialogFactoryTest.cc
  src/Interface/Modules/Fields/CalculateInsideWhichFieldDialog.ui
  src/Interface/Modules/Fields/CalculateMeshCenterDialog.cc
  src/Interface/Modules/Fields/CalculateMeshCenterDialog.ui
  src/Interface/Modules/Fields/CreateImageDialog.ui
  src/Interface/Modules/Fields/GetCentroidsFromMeshDialog.ui
  src/Modules/Factory/Tests/ModuleReplaceBuilderTests.cc
  src/Modules/Legacy/Fields/CalculateInsideWhichField.h
  src/Modules/Legacy/Fields/CreateImage.cc
  src/Modules/Legacy/Fields/GetCentroidsFromMesh.cc
Labels: Modules

#1843 Gui improvements
  src/ExampleNets/regression/allCalcs.srn5
  src/Interface/Modules/Base/CMakeLists.txt
  src/Interface/Modules/Base/CustomWidgets/CodeEditorWidgets.cc
  src/Interface/Modules/Base/CustomWidgets/CodeEditorWidgets.h
  src/Interface/Modules/Base/HasParserHelpDialog.cc
  src/Interface/Modules/Base/ModuleDialogGeneric.h
  src/Interface/Modules/Base/ParserHelp.ui
  src/Interface/Modules/Fields/CalculateFieldData.ui
  src/Interface/Modules/Fields/CalculateFieldDataDialog.cc
  src/Interface/Modules/Fields/CalculateFieldDataDialog.h
  src/Interface/Modules/Fields/ClipFieldByFunction.ui
  src/Interface/Modules/Fields/ClipFieldByFunctionDialog.cc
  src/Interface/Modules/Fields/ClipFieldByFunctionDialog.h
  src/Interface/Modules/Fields/CreateFieldData.ui
  src/Interface/Modules/Fields/CreateFieldDataDialog.cc
  src/Interface/Modules/Fields/CreateFieldDataDialog.h
  src/Interface/Modules/Math/CreateMatrix.ui
  src/Interface/Modules/Math/CreateMatrixDialog.cc
  src/Interface/Modules/Math/CreateMatrixDialog.h
  src/Interface/Modules/Python/InterfaceWithPythonDialog.cc
  src/Interface/Modules/Python/InterfaceWithPythonDialog.h
  src/Interface/Modules/Visualization/ShowField.ui
  src/Interface/Modules/Visualization/ShowFieldDialog.cc
Labels: GUI
