Repository SCIInstitute/SCIRun, pull requests merged in 2018-07, with the labels that each got.

#1804 More hi dpi
  src/ExampleNets/overnight/allIBBMModulesUICheck_2.srn5
  src/Interface/Application/ModuleWidget.cc
  src/Interface/Application/NetworkEditor.cc
  src/Interface/Modules/Bundle/GetFieldsFromBundleDialog.ui
  src/Interface/Modules/Fields/ClipFieldByFunction.ui
  src/Interface/Modules/Fields/ConvertIndicesToFieldData.ui
  src/Interface/Modules/Fields/CreateFieldData.ui
  src/Interface/Modules/Fields/ProjectPointsOntoMesh.ui
  src/Interface/Modules/Fields/SetFieldDataDialog.ui
  src/Interface/Modules/Fields/SetFieldDataToConstantValue.ui
  src/Interface/Modules/Fields/SplitFieldByDomain.ui
  src/Interface/Modules/Fields/calculatedistancetofield.ui
  src/Interface/Modules/Fields/scalefieldmeshanddata.ui
  src/Interface/Modules/Math/ConvertMatrixType.ui
  src/Interface/Modules/Math/CreateMatrix.ui
  src/Interface/Modules/Math/SelectSubMatrix.ui
  src/Interface/Modules/Visualization/RescaleColorMap.ui
Labels: GUI

#1805 Fixed bug #1788, implemented trivial magnetic dipole model of coil as…
  src/Core/Algorithms/BrainStimulator/ModelGenericCoilAlgorithm.cc
Labels: Algorithms

#1810 Resize matrix module
  src/Core/Algorithms/Math/CMakeLists.txt
  src/Core/Algorithms/Math/ResizeMatrixAlgo.cc
  src/Core/Algorithms/Math/ResizeMatrixAlgo.h
  src/ExampleNets/regression/ResizeMatrixTest.srn5
  src/Interface/Modules/Math/CMakeLists.txt
  src/Interface/Modules/Math/ResizeMatrixDialog.cc
  src/Interface/Modules/Math/ResizeMatrixDialog.h
  src/Interface/Modules/Math/ResizeMatrixDialog.ui
  src/Modules/Factory/Config/ResizeMatrix.module
  src/Modules/Factory/Tests/ModuleReplaceBuilderTests.cc
  src/Modules/Math/CMakeLists.txt
  src/Modules/Math/ResizeMatrix.cc
  src/Modules/Math/ResizeMatrix.h
Labels: Modules

#1816 Cylinder bug
  src/Graphics/Glyphs/GlyphGeom.cc
  src/Graphics/Glyphs/GlyphGeom.h
  src/Modules/Visualization/ShowField.cc
Labels: Graphics
