Repository SCIInstitute/SCIRun, pull requests merged in 2019-05, with the labels that each got.

#1915 Show field glyphs refactor and additional ports
  src/Core/Algorithms/Visualization/RenderFieldState.h
  src/Core/GeometryPrimitives/Tensor.cc
  src/Core/GeometryPrimitives/Tensor.h
  src/ExampleNets/regression/tensorField.srn5
  src/ExampleNets/regression/tensorOrders.srn5
  src/Graphics/Glyphs/GlyphGeom.cc
  src/Graphics/Glyphs/GlyphGeom.h
  src/Interface/Modules/Visualization/CMakeLists.txt
  src/Interface/Modules/Visualization/ShowFieldGlyphs.ui
  src/Interface/Modules/Visualization/ShowFieldGlyphsDialog.cc
  src/Interface/Modules/Visualization/ShowFieldGlyphsDialog.h
  src/Interface/Modules/Visualization/ShowFieldGlyphsScalarTab.ui
  src/Interface/Modules/Visualization/ShowFieldGlyphsScalarTabDialog.cc
  src/Interface/Modules/Visualization/ShowFieldGlyphsScalarTabDialog.h
  src/Interface/Modules/Visualization/ShowFieldGlyphsSecondaryTab.ui
  src/Interface/Modules/Visualization/ShowFieldGlyphsTensorTab.ui
  src/Interface/Modules/Visualization/ShowFieldGlyphsTensorTabDialog.cc
  src/Interface/Modules/Visualization/ShowFieldGlyphsTensorTabDialog.h
  src/Interface/Modules/Visualization/ShowFieldGlyphsVectorTab.ui
  src/Interface/Modules/Visualization/ShowFieldGlyphsVectorTabDialog.cc
  src/Interface/Modules/Visualization/ShowFieldGlyphsVectorTabDialog.h
  src/Modules/Visualization/CMakeLists.txt
  src/Modules/Visualization/ShowFieldGlyphs.cc
  src/Modules/Visualization/ShowFieldGlyphs.h
  src/Modules/Visualization/ShowFieldGlyphsPortHandler.cc
  src/Modules/Visualization/ShowFieldGlyphsPortHandler.h
Labels: Graphics

#1924 Refactor for SRInterface ViewScene and SRCamera
  src/Interface/Modules/Render/ES/SRCamera.cc
  src/Interface/Modules/Render/ES/SRCamera.h
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/ES/shaders/DirPhong.fs
  src/Interface/Modules/Render/GLWidget.cc
  src/Interface/Modules/Render/GLWidget.h
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Modules/Render/ViewScene.cc
Labels: Graphics, Refactoring

#1927 Update cleaver UI
  src/Core/Algorithms/Field/InterfaceWithCleaver2Algorithm.cc
  src/Core/Algorithms/Field/InterfaceWithCleaver2Algorithm.h
  src/Interface/Modules/Fields/InterfaceWithCleaver2.ui
  src/Interface/Modules/Fields/InterfaceWithCleaver2Dialog.cc
Labels: External Libraries

#1933 Double Sided Lighting Fix
  src/Graphics/Glyphs/GlyphGeom.cc
  src/Interface/Modules/Render/ES/AssetBootstrap.cc
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/ES/shaders/DirPhong.fs
  src/Interface/Modules/Render/ES/shaders/DirPhongCMap.fs
  src/Interface/Modules/Render/ES/shaders/DirPhongCMapUniform.fs
  src/Interface/Modules/Render/ES/shaders/DirPhongInSitu.fs
  src/Interface/Modules/Render/ES/shaders/DirPhongNoClipping.fs
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Interface/Modules/Render/ViewSceneControls.ui
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
  src/Modules/Render/ViewScene.cc
  src/Modules/Render/ViewScene.h
Labels: Graphics

#1937 Matlab python
  src/CMakeLists.txt
  src/Dataflow/Network/Module.cc
  src/Dataflow/Network/Module.h
  src/Dataflow/Network/ModuleStateInterface.cc
  src/Dataflow/Network/ModuleStateInterface.h
  src/ExampleNets/regression/convertMatlabBlockUsingScriptedEventAndCodeFile.srn5
  src/ExampleNets/regression/pythonMatlabConversion.srn5
  src/Interface/Modules/Base/CMakeLists.txt
  src/Interface/Modules/Base/CustomWidgets/CodeEditorWidgets.cc
  src/Interface/Modules/Base/ModuleButtonBar.cc
  src/Interface/Modules/Base/ModuleButtonBar.ui
  src/Interface/Modules/Base/ModuleDialogGeneric.cc
  src/Interface/Modules/Base/ModuleDialogGeneric.h
  src/Interface/Modules/Python/InterfaceWithPythonDialog.cc
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/ViewSceneControls.ui
  src/Modules/Python/InterfaceWithPython.cc
  src/Modules/Python/InterfaceWithPython.h
  src/Modules/Python/MatlabConversion.py
  src/Modules/Python/PythonInterfaceParser.cc
  src/Modules/Python/PythonInterfaceParser.h
  src/Modules/Python/Tests/PythonInterfaceParserTests.cc
  src/Modules/Visualization/ShowFieldGlyphsPortHandler.cc
Labels: External Libraries, Python

#1940 Show Field Glyphs: Secondary and Tertiary Port fix
  src/Modules/Visualization/ShowFieldGlyphsPortHandler.cc
Labels: Modules

#1826 Importing state of v4 nets
  src/Dataflow/Serialization/Network/Importer/NetworkIO.cc
  src/Dataflow/Serialization/Network/Importer/NetworkIO.h
  src/Dataflow/Serialization/Network/Tests/LegacyNetworkFileImporterTests.cc
  src/Resources/LegacyModuleImporter.xml
Labels: Framework

#1941 Module work
  src/Core/Algorithms/Factory/HardCodedAlgorithmFactory.cc
  src/Core/Algorithms/Legacy/Fields/Mapping/MapFieldDataFromSourceToDestination.cc
  src/Core/Algorithms/Legacy/Fields/MeshDerivatives/ExtractSimpleIsosurfaceAlgo.cc
  src/Core/Algorithms/Legacy/Fields/MeshDerivatives/ExtractSimpleIsosurfaceAlgo.h
  src/Core/Algorithms/Legacy/Inverse/TikhonovImpl.h
  src/ExampleNets/regression/extractIsosurfaceManualRange.srn5
  src/Interface/Modules/Factory/ModuleDialogFactory.cc
  src/Interface/Modules/Fields/ExtractSimpleIsosurface.ui
  src/Interface/Modules/Fields/ExtractSimpleIsosurfaceDialog.cc
  src/Interface/Modules/Fields/ExtractSimpleIsosurfaceDialog.h
  src/Modules/Factory/HardCodedModuleFactory.cc
  src/Modules/Factory/ModuleDescriptionLookup.h
  src/Modules/Factory/ModuleFactoryImpl2.cc
  src/Modules/Fields/Tests/ExtractSimpleIsoSurfaceTest.cc
  src/Modules/Legacy/Fields/ExtractSimpleIsosurface.cc
  src/Modules/Legacy/Fields/ExtractSimpleIsosurface.h
Labels: Modules

#1942 Windows fix
  src/Dataflow/Serialization/Network/Importer/NetworkIO.cc
  src/Dataflow/Serialization/Network/Importer/NetworkIO.h
Labels: Build

#1946 Lunch bugs
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
  src/Modules/Visualization/ShowFieldGlyphsPortHandler.cc
  src/Modules/Visualization/ShowFieldGlyphsPortHandler.h
Labels: Graphics

#1947 Registration
  src/Core/Algorithms/Legacy/Fields/RegisterWithCorrespondences.cc
  src/Core/Algorithms/Legacy/Fields/RegisterWithCorrespondences.h
  src/Modules/Legacy/Fields/RegisterWithCorrespondences.cc
  src/Modules/Legacy/Fields/RegisterWithCorrespondences.h
Labels: Algorithms
