Repository SCIInstitute/SCIRun, pull requests merged in 2019-03, with the labels that each got.

#1876 Tensor fixes: color mapping, normalizing before scaling, render thresholds, tensor lines, tensor scalars, & bug fixes
  src/Core/Datatypes/ColorMap.cc
  src/Core/Datatypes/ColorMap.h
  src/Graphics/Glyphs/GlyphGeom.cc
  src/Graphics/Glyphs/GlyphGeom.h
  src/Interface/Modules/Visualization/ShowFieldGlyphsDialog.cc
  src/Interface/Modules/Visualization/ShowFieldGlyphsTensorTab.ui
  src/Modules/Visualization/ShowFieldGlyphs.cc
Labels: Graphics

#1878 Legend fix and features
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Interface/Modules/Render/ViewSceneControls.ui
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
  src/Interface/Modules/Render/ViewSceneControlsDock.h
Labels: Graphics

#1896 Red View Scene Fix
  src/Interface/Modules/Render/ES/Core.cc
  src/Interface/Modules/Render/ES/SRInterface.cc
Labels: Graphics, Priority-High

#1903 Execution fixes
  src/Dataflow/Network/Module.cc
  src/Dataflow/Network/Module.h
  src/Dataflow/Network/ModuleInfoProvider.h
  src/Dataflow/Network/Tests/MockModule.h
  src/ExampleNets/regression/scmLabel.srn5
  src/Interface/Application/ModuleWidget.cc
  src/Interface/Modules/Visualization/ShowColorMap.ui
  src/Interface/Modules/Visualization/ShowColorMapDialog.cc
  src/Interface/Modules/Visualization/ShowColorMapDialog.h
  src/Modules/BrainStimulator/share.h
  src/Modules/Visualization/ShowColorMapModule.cc
  src/Modules/Visualization/ShowColorMapModule.h
Labels: Framework
