Repository SCIInstitute/SCIRun, pull requests merged in 2019-11, with the labels that each got.

#2013 To string button
  src/Externals/spire/es-render/Registration1.cpp
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Interface/Modules/Render/ViewSceneControls.ui
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
Labels: GUI

#1998 Github Action Builds
  .github/workflows/ccpp.yml
  scripts/qt.qs
Labels: Build

#1997 ViewScene bug report button
  src/Interface/Modules/Render/Screenshot.cc
  src/Interface/Modules/Render/Screenshot.h
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Interface/Modules/Render/ViewSceneControls.ui
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
Labels: GUI

#2004 qt5 Stylesheet Fixes
  src/Interface/Application/MainWindowCollaborators.cc
  src/Interface/Application/SCIRunMainWindow.cc
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Visualization/ShowFieldGlyphs.ui
  src/Interface/Modules/Visualization/ShowFieldGlyphsDialog.cc
Labels: GUI, Look & Feel

#2014 Selection issue
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Interface/Modules/Render/ViewSceneControls.ui
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
Labels: Graphics

#2011 Scalar Centering
  src/Modules/Visualization/ShowFieldGlyphs.cc
Labels: Graphics

#2020 fixed light ui
  src/Interface/Modules/Render/ViewSceneControls.ui
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
  src/Interface/Modules/Render/ViewSceneControlsDock.h
Labels: GUI, Graphics

#2023 Various
  .github/workflows/ccpp.yml
  Superbuild/Superbuild.cmake
  src/CMakeLists.txt
  src/Core/Algorithms/Factory/CMakeLists.txt
  src/Core/Algorithms/Legacy/Fields/DistanceField/CalculateDistanceField.cc
  src/Core/Algorithms/Legacy/Fields/DistanceField/CalculateSignedDistanceField.cc
  src/Externals/spire/arc-ball/ArcBall.cpp
  src/Externals/spire/arc-ball/ArcBall.hpp
  src/Externals/submodules/CMakeLists.txt
  src/Interface/Application/CMakeLists.txt
  src/Interface/Application/PythonConsoleWidget.cc
  src/Interface/Application/PythonConsoleWidget.h
  src/Interface/Application/SCIRunMainWindowSetup.cc
  src/Interface/Application/SCIRunMainWindowSlotsPrivate.cc
  src/Interface/Application/SCIRunMainWindowTreeFunctions.cc
  src/Interface/Application/TreeViewCollaborators.cc
  src/Interface/Application/TreeViewCollaborators.h
  src/Interface/Modules/Render/ViewScene.cc
  src/Modules/Factory/CMakeLists.txt
  src/Testing/CMakeLists.txt
Labels: Build, Modules
