Repository SCIInstitute/SCIRun, pull requests merged in 2019-10, with the labels that each got.

#1979 QOpenGLWidget
  .gitignore
  src/Interface/Application/GuiApplication.cc
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/GLWidget.cc
  src/Interface/Modules/Render/GLWidget.h
  src/Interface/Modules/Render/Screenshot.cc
  src/Interface/Modules/Render/Screenshot.h
  src/Interface/Modules/Render/Tests/SRInterfaceTests.cc
  src/Interface/Modules/Render/ViewScene.cc
  src/Modules/Render/ViewScene.cc
Labels: GUI, Graphics

#2001 Fixed disappearing scene
  src/Externals/spire/arc-ball/ArcBall.cpp
Labels: Graphics

#2002 Color map transparency
  src/Core/Datatypes/ColorMap.cc
  src/Core/Datatypes/ColorMap.h
  src/Interface/Modules/Render/ES/shaders/Flat_ColorMap.fs
  src/Interface/Modules/Render/ES/shaders/Phong_ColorMap.fs
  src/Interface/Modules/Visualization/CreateStandardColorMapDialog.cc
  src/Interface/Modules/Visualization/CreateStandardColorMapDialog.h
  src/Modules/Visualization/CreateStandardColorMap.cc
  src/Modules/Visualization/RescaleColorMap.cc
  src/Modules/Visualization/ShowField.cc
  src/Modules/Visualization/ShowFieldGlyphs.cc
  src/Modules/Visualization/ShowFieldGlyphsPortHandler.cc
  src/Modules/Visualization/ShowFieldGlyphsPortHandler.h
Labels: Graphics

#2005 Mark end of Qt4 compatibility
  Superbuild/CMakeLists.txt
  Superbuild/Superbuild.cmake
  src/CMakeLists.txt
Labels: Build

#2010 Qt5 dev merge
  .gitignore
  .travis.yml
  src/Interface/Application/GuiApplication.cc
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/GLWidget.cc
  src/Interface/Modules/Render/GLWidget.h
  src/Interface/Modules/Render/Screenshot.cc
  src/Interface/Modules/Render/Screenshot.h
  src/Interface/Modules/Render/Tests/SRInterfaceTests.cc
  src/Interface/Modules/Render/ViewScene.cc
  src/Modules/Render/ViewScene.cc
Labels: GUI, Graphics

#2009 Look Down Axis Fix
  src/Interface/Modules/Render/ViewScene.cc
Labels: Graphics

#2012 Multiple sphere widgets
  src/Modules/Legacy/Fields/GeneratePointSamplesFromField.cc
Labels: Graphics

#2017 Update stale.yml
  .github/workflows/stale.yml
Labels: Deployment

#2018 Try out PR labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Build, Code Organization
