Repository SCIInstitute/SCIRun, pull requests merged in 2020-03, with the labels that each got.

#2079 Build and deployment updates
  .github/workflows/ccpp.yml
  .github/workflows/label.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  .travis.yml
  README.md
  Superbuild/QwtExternal.cmake
  Superbuild/Superbuild.cmake
  appveyor.yml
  src/CMakeLists.txt
  src/Externals/spire/es-render/FBOMan.cpp
  src/Externals/spire/es-render/IBOMan.cpp
  src/Externals/spire/es-render/TextureMan.cpp
  src/Externals/spire/es-render/VBOMan.cpp
  src/Externals/spire/es-render/comp/RenderFont.hpp
  src/Externals/spire/es-render/systems/RenderFontSys.cpp
  src/Externals/spire/es-render/systems/RenderSimpleGeomSys.cpp
  src/Externals/spire/es-render/util/DebugRender.cpp
  src/Interface/Application/CMakeLists.txt
  src/Interface/Application/ModuleWidget.cc
  src/Interface/Application/NetworkEditor.cc
  src/Interface/Application/Note.cc
  src/Interface/Application/SCIRunMainWindowSetup.cc
  src/Interface/Modules/Math/CMakeLists.txt
  src/Interface/Modules/Render/CMakeLists.txt
  src/Interface/Modules/Render/Ospray/CMakeLists.txt
  src/Interface/qt_include.h
  src/Main/CMakeLists.txt
Labels: Build

#2073 Sphere Glyph Fix
  src/ExampleNets/regression/Renderer/sphereGlpyhs.srn5
  src/Graphics/Glyphs/GlyphGeom.cc
Labels: Graphics

#2058 Transform Features
  src/Core/GeometryPrimitives/Tests/TransformTests.cc
  src/Core/GeometryPrimitives/Transform.cc
  src/Core/GeometryPrimitives/Transform.h
  src/Graphics/Glyphs/GlyphGeom.cc
Labels: Algorithms, Datatypes
