Repository SCIInstitute/SCIRun, pull requests merged in 2020-09, with the labels that each got.

#2166 Red widget Selection fix
  src/Interface/Modules/Render/ES/RendererInterface.h
  src/Interface/Modules/Render/ES/SRCamera.h
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Modules/Render/ViewScene.cc
  src/Modules/Render/ViewScene.h
Labels: Graphics, Modules, RenderWidget

#2172 Fix Html Tests
  .gitignore
  docs/_config.yml
  docs/scripts/cibuild.sh
Labels: Documentation

#2170 Parser help searching
  src/Interface/Modules/Base/HasParserHelpDialog.cc
  src/Interface/Modules/Base/HasParserHelpDialog.h
  src/Interface/Modules/Base/ParserHelp.ui
Labels: GUI

#2176 Fixed Widget Selection on Windows
  src/Interface/Modules/Render/ViewScene.cc
  src/Modules/Render/ViewScene.cc
  src/Modules/Render/ViewScene.h
Labels: Graphics, Modules, RenderWidget
