Repository SCIInstitute/SCIRun, pull requests merged in 2020-04, with the labels that each got.

#2072 Custom color map
  src/Core/Datatypes/Color.cc
  src/Core/Datatypes/Color.h
  src/Core/Datatypes/ColorMap.cc
  src/Core/Datatypes/ColorMap.h
  src/Core/Datatypes/Tests/ScalarTests.cc
  src/Interface/Modules/Visualization/CreateStandardColorMap.ui
  src/Interface/Modules/Visualization/CreateStandardColorMapDialog.cc
  src/Interface/Modules/Visualization/CreateStandardColorMapDialog.h
  src/Modules/Math/AdvancedPlotter.cc
  src/Modules/Math/BasicPlotter.cc
  src/Modules/Visualization/CreateStandardColorMap.cc
  src/Modules/Visualization/CreateStandardColorMap.h
  src/Modules/Visualization/RescaleColorMap.cc
  src/Modules/Visualization/ShowColorMapModule.cc
  src/Modules/Visualization/ShowField.cc
  src/Modules/Visualization/ShowFieldGlyphsPortHandler.cc
Labels: Graphics, Modules

#2086 ShowMeshBoundingBox
  src/ExampleNets/regression/Renderer/showMeshBBox.srn5
  src/Interface/Modules/Visualization/CMakeLists.txt
  src/Interface/Modules/Visualization/ShowMeshBoundingBox.ui
  src/Interface/Modules/Visualization/ShowMeshBoundingBoxDialog.cc
  src/Interface/Modules/Visualization/ShowMeshBoundingBoxDialog.h
  src/Interface/Modules/Visualization/showmeshboundingbox.ui
  src/Modules/Factory/Config/ShowMeshBoundingBox.module
  src/Modules/Visualization/CMakeLists.txt
  src/Modules/Visualization/ShowMeshBoundingBox.cc
  src/Modules/Visualization/ShowMeshBoundingBox.h
Labels: Graphics, Modules

#2089 OrientedBBox 1: OrientedBBox class with Tests
  src/Core/GeometryPrimitives/BBox.h
  src/Core/GeometryPrimitives/CMakeLists.txt
  src/Core/GeometryPrimitives/OrientedBBox.cc
  src/Core/GeometryPrimitives/OrientedBBox.h
  src/Core/GeometryPrimitives/Tests/BBoxTests.cc
  src/Core/GeometryPrimitives/Tests/CMakeLists.txt
  src/Core/GeometryPrimitives/Tests/OrientedBBoxTests.cc
  src/Core/Utils/Exception.h
  src/Interface/Modules/Render/ES/SRCamera.cc
  src/Interface/Modules/Render/ViewScene.cc
Labels: Algorithms, Graphics

#2096 ViewScene Flicker Fix for Non-Widget Selection
  src/Externals/spire/es-acorn/Acorn.hpp
  src/Interface/Modules/Render/ES/Core.cc
  src/Interface/Modules/Render/ES/Core.h
  src/Interface/Modules/Render/ES/RendererInterface.h
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/GLWidget.cc
  src/Interface/Modules/Render/GLWidget.h
Labels: Graphics

#2063 Superquadric tensor fix
  src/Core/Algorithms/Visualization/RenderFieldState.h
  src/Core/GeometryPrimitives/Tensor.cc
  src/Core/GeometryPrimitives/Tensor.h
  src/ExampleNets/regression/Renderer/superquadric_tensors.srn5
  src/Graphics/Glyphs/CMakeLists.txt
  src/Graphics/Glyphs/GlyphConstructor.cc
  src/Graphics/Glyphs/GlyphConstructor.h
  src/Graphics/Glyphs/GlyphGeom.cc
  src/Graphics/Glyphs/GlyphGeom.h
  src/Graphics/Glyphs/GlyphGeomUtility.cc
  src/Graphics/Glyphs/GlyphGeomUtility.h
  src/Graphics/Glyphs/TensorGlyphBuilder.cc
  src/Graphics/Glyphs/TensorGlyphBuilder.h
  src/Graphics/Glyphs/VectorGlyphBuilder.cc
  src/Graphics/Glyphs/VectorGlyphBuilder.h
  src/Interface/Modules/Visualization/ShowFieldGlyphs.ui
  src/Interface/Modules/Visualization/ShowFieldGlyphsDialog.cc
  src/Modules/Visualization/ShowFieldGlyphs.cc
Labels: Modules
