Repository SCIInstitute/SCIRun, pull requests merged in 2020-02, with the labels that each got.

#2027 Python wizard
  src/Interface/Application/CMakeLists.txt
  src/Interface/Application/IntWithPythonPage.ui
  src/Interface/Application/MainWindowCollaborators.cc
  src/Interface/Application/MainWindowCollaborators.h
  src/Interface/Application/PythonConsoleWidget.cc
  src/Interface/Application/PythonWizardCodePage.ui
  src/Interface/Application/PythonWizardPage.ui
  src/Interface/Application/Resources/Wizard/int_with_py_network.png
  src/Interface/Application/SCIRunMainWindow.cc
  src/Interface/Application/SCIRunMainWindow.h
  src/Interface/Application/SCIRunMainWindow.ui
  src/Interface/Application/SCIRunMainWindowSlotsPrivate.cc
  src/Interface/Application/scirun5.qrc
Labels: Documentation, Python

#2050 CalculateInsideWhichField module
  src/ExampleNets/regression/Modules/CalcInsideWhichFieldNanTest.srn5
  src/Interface/Modules/Fields/CalculateInsideWhichFieldDialog.cc
  src/Interface/Modules/Fields/CalculateInsideWhichFieldDialog.h
  src/Interface/Modules/Fields/CalculateInsideWhichFieldDialog.ui
Labels: Modules

#2059 added remaining v4 colormaps
  src/Core/Datatypes/ColorMap.cc
Labels: Graphics

#2066 Update ccpp.yml
  .github/workflows/ccpp.yml
Labels: Build

#2060 Update plane label colors in ViewScene controller dock
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
Labels: GUI

#2057 fixed screenshot bug
  src/Interface/Modules/Render/Screenshot.cc
Labels: Graphics

#2069 Bug & compile fix
  src/Core/Algorithms/Legacy/FiniteElements/BuildMatrix/BuildFEMatrix.cc
  src/Core/Datatypes/ColorMap.cc
Labels: Build

#2070 Move VS settings
  src/Core/Application/Preferences/Preferences.cc
  src/Core/Application/Preferences/Preferences.h
  src/Interface/Application/Preferences.ui
  src/Interface/Application/PreferencesWindow.cc
  src/Interface/Application/PreferencesWindow.h
  src/Interface/Application/PythonConsoleWidget.h
  src/Interface/Application/SCIRunMainWindowSlotsPrivate.cc
  src/Interface/Application/Settings.cc
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Interface/Modules/Render/ViewSceneControls.ui
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
Labels: GUI
