Repository SCIInstitute/SCIRun, pull requests merged in 2020-05, with the labels that each got.

#2065 Edit camera state variables
  src/ExampleNets/regression/Renderer/pythonCameraInterface.srn5
  src/Interface/Modules/Render/CMakeLists.txt
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Interface/Modules/Render/ViewSceneUtility.cc
  src/Interface/Modules/Render/ViewSceneUtility.h
  src/Modules/Render/ViewScene.cc
  src/Modules/Render/ViewScene.h
Labels: GUI, Graphics, Modules, Python

#2109 Fixed Compiler Warning for Regex Expression for Camera Rotation
  src/Interface/Modules/Render/ViewSceneUtility.cc
Labels: Algorithms

#2115 Quick merge!
  src/Interface/Modules/Render/ViewScene.cc
  src/Modules/DataIO/CMakeLists.txt
  src/Modules/DataIO/ReadFile.cc
  src/Modules/DataIO/ReadFile.h
  src/Modules/Legacy/Fields/InsertHexVolSheetAlongSurface.cc
  src/Modules/Visualization/ShowColorMapModule.cc
  src/Modules/Visualization/ShowString.cc
  src/Modules/Visualization/TextBuilder.cc
Labels: Graphics

#2113 Clang-Format Code Styling
  .clang-format
Labels: Code Organization
