Repository SCIInstitute/SCIRun, pull requests merged in 2020-06, with the labels that each got.

#2082 View scene lock view
  src/Interface/Modules/Render/CMakeLists.txt
  src/Interface/Modules/Render/ES/RendererInterface.h
  src/Interface/Modules/Render/ES/SRCamera.cc
  src/Interface/Modules/Render/ES/SRCamera.h
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/GLWidget.cc
  src/Interface/Modules/Render/GLWidget.h
  src/Interface/Modules/Render/Tests/ObjectTransformationHelper.h
  src/Interface/Modules/Render/Tests/ObjectTranslationTests.cc
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Interface/Modules/Render/ViewSceneControls.ui
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
  src/Interface/Modules/Render/ViewSceneControlsDock.h
  src/Interface/Modules/Render/ViewSceneManager.cc
  src/Interface/Modules/Render/ViewSceneManager.h
Labels: Graphics

#2118 Compilation Database
  Superbuild/Superbuild.cmake
  compile_commands.json
  src/CMakeLists.txt
Labels: Build

#2130 ReadFile Module
  src/ExampleNets/regression/ImportExport/readEveryFileWithOneModule.srn5
  src/Interface/Modules/Render/CMakeLists.txt
  src/Interface/Modules/Render/ES/RendererInterface.h
  src/Interface/Modules/Render/ES/SRCamera.cc
  src/Interface/Modules/Render/ES/SRCamera.h
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/GLWidget.cc
  src/Interface/Modules/Render/GLWidget.h
  src/Interface/Modules/Render/Tests/ObjectTransformationHelper.h
  src/Interface/Modules/Render/Tests/ObjectTranslationTests.cc
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Interface/Modules/Render/ViewSceneControls.ui
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
  src/Interface/Modules/Render/ViewSceneControlsDock.h
  src/Interface/Modules/Render/ViewSceneManager.cc
  src/Interface/Modules/Render/ViewSceneManager.h
  src/Modules/DataIO/ReadFile.cc
Labels: Modules

#2107 Fixed Widget Color Restoration
  src/Core/Datatypes/Geometry.h
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
Labels: Graphics

#2136 Qwt Update and fix for Qt 5.15
  Superbuild/QwtExternal.cmake
  src/Interface/Application/GuiCommands.cc
Labels: External Libraries, Graphics

#2108 Added ShowOrientationAxes module
  src/ExampleNets/regression/Renderer/showOrientationAxes.srn5
  src/ExampleNets/regression/Renderer/showOrientationAxesAdjusted.srn5
  src/ExampleNets/regression/Renderer/showOrientationAxesDefault.srn5
  src/ExampleNets/regression/Renderer/showOrientationAxesField1.srn5
  src/ExampleNets/regression/Renderer/showOrientationAxesField2.srn5
  src/Interface/Modules/Visualization/CMakeLists.txt
  src/Interface/Modules/Visualization/ShowOrientationAxes.ui
  src/Interface/Modules/Visualization/ShowOrientationAxesDialog.cc
  src/Interface/Modules/Visualization/ShowOrientationAxesDialog.h
  src/Modules/Factory/Config/ShowOrientationAxes.module
  src/Modules/Factory/Tests/ModuleReplaceBuilderTests.cc
  src/Modules/Visualization/CMakeLists.txt
  src/Modules/Visualization/ShowOrientationAxes.cc
  src/Modules/Visualization/ShowOrientationAxes.h
Labels: Modules

#2106 ViewScene Flicker Fix for Widget Selection and Widget Selection Fix
  src/ExampleNets/regression/Renderer/viewSceneLockViewWidgets.srn5
  src/Graphics/Glyphs/GlyphGeom.cc
  src/Interface/Modules/Render/GLWidget.cc
  src/Interface/Modules/Render/GLWidget.h
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Modules/Render/ViewScene.cc
  src/Modules/Render/ViewScene.h
Labels: Graphics, Modules
