Repository SCIInstitute/SCIRun, pull requests merged in 2020-01, with the labels that each got.

#2039 Color map additions
  src/Core/Datatypes/ColorMap.cc
  src/Interface/Modules/Visualization/CreateStandardColorMapDialog.cc
Labels: Graphics

#2037 Clipping Plane Performance
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
Labels: Graphics, Performance

#2040 Qt5 problems, and their fixes
  .github/workflows/label.yml
  src/Core/Algorithms/Math/AddKnownsToLinearSystem.cc
  src/Core/Algorithms/Math/AddKnownsToLinearSystem.h
  src/Core/Application/Application.h
  src/Core/Command/GlobalCommandBuilderFromCommandLine.cc
  src/Core/CommandLine/CommandLine.cc
  src/Core/CommandLine/CommandLine.h
  src/Core/CommandLine/Tests/ScirunCommandLineSpecTests.cc
  src/Dataflow/Serialization/Network/Importer/NetworkIO.cc
  src/ExampleNets/regression/Modules/generateElectrode.srn5
  src/Externals/spire/arc-ball/ArcBall.cpp
  src/Interface/Application/CMakeLists.txt
  src/Interface/Application/GuiCommands.cc
  src/Interface/Application/ModuleProxyWidget.cc
  src/Interface/Application/ModuleProxyWidget.h
  src/Interface/Application/ModuleWidget.cc
  src/Interface/Application/NetworkEditor.cc
  src/Interface/Application/NetworkEditor.h
  src/Interface/Application/Node.cc
  src/Interface/Application/Node.h
  src/Interface/Application/ProvenanceWindow.cc
  src/Interface/Application/PythonConsoleWidget.cc
  src/Interface/Application/SCIRunMainWindow.cc
  src/Interface/Application/SCIRunMainWindow.h
  src/Interface/Application/SCIRunMainWindowCommandInterface.cc
  src/Interface/Application/SCIRunMainWindowQtOverrides.cc
  src/Interface/Application/SCIRunMainWindowSetup.cc
  src/Interface/Application/SCIRunMainWindowSlotsPrivate.cc
  src/Interface/Application/SCIRunMainWindowSlotsPublic.cc
  src/Interface/Application/SCIRunMainWindowTreeFunctions.cc
  src/Interface/Application/Settings.cc
  src/Interface/Application/Subnetworks.cc
  src/Interface/Application/TagManager.ui
  src/Interface/Application/TagManagerWindow.cc
  src/Interface/Application/Utility.h
  src/Interface/Modules/Base/CustomWidgets/CodeEditorWidgets.cc
  src/Interface/Modules/Base/CustomWidgets/CodeEditorWidgets.h
  src/Interface/Modules/Render/ES/SRInterface.cc
  src/Interface/Modules/Render/ES/SRInterface.h
  src/Modules/Factory/Config/GenerateElectrode.module
  src/Modules/Legacy/Fields/CMakeLists.txt
  src/Modules/Legacy/Fields/GenerateElectrode.cc
  src/Modules/Legacy/Fields/GenerateElectrode.h
  src/Modules/Legacy/Math/AddKnownsToLinearSystem.cc
Labels: GUI, Modules
