Repository SCIInstitute/SCIRun, pull requests merged in 2021-11, with the labels that each got.

#2328 Update README
  README.md
Labels: Documentation

#2325 SelectSubMatrix bug fix
  src/Core/Algorithms/Math/SelectSubMatrix.cc
Labels: Algorithms

#2332 test pr
  docs/dev_doc/SCIRun5ModuleGeneration.md
Labels: Documentation

#2336 Update module links
  docs/modules/BrainStimulator/SimulateForwardMagneticField.md
  docs/modules/BrainStimulator/index.rst
  src/Dataflow/Network/Module.cc
Labels: Documentation

#2345 Basic python port data functions
  src/Dataflow/Engine/Controller/PythonImpl.cc
  src/Dataflow/Engine/Python/NetworkEditorPythonAPI.cc
  src/Dataflow/Engine/Python/NetworkEditorPythonAPI.h
  src/Dataflow/Engine/Python/SCIRunPythonModule.h
  src/Dataflow/Network/DataflowInterfaces.h
  src/Dataflow/Network/Port.cc
  src/Dataflow/Network/Port.h
  src/Dataflow/Network/PortInterface.h
  src/Dataflow/Network/SimpleSourceSink.cc
  src/Dataflow/Network/SimpleSourceSink.h
  src/Dataflow/Network/Tests/MockPorts.h
  src/ExampleNets/regression/Network/compositeTyped.srn5
  src/ExampleNets/regression/Python/betterPortFunctions.srn5
  src/Interface/Modules/Factory/ModuleDialogFactoryAdditional.cc
  src/Modules/Basic/CMakeLists.txt
  src/Modules/Basic/CompositeModuleWithTypedStaticPorts.cc
  src/Modules/Basic/CompositeModuleWithTypedStaticPorts.h
  src/Modules/Factory/ModuleFactoryImpl1.cc
  src/Modules/Python/PythonInterfaceParser.cc
Labels: Modules, Python
