Repository SCIInstitute/SCIRun, pull requests merged in 2022-04, with the labels that each got.

#2379 Update mac.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: Build

#2368 Update ViewScene screenshot gui
  src/Interface/Modules/Render/CMakeLists.txt
  src/Interface/Modules/Render/InputControls.ui
  src/Interface/Modules/Render/Screenshot.cc
  src/Interface/Modules/Render/Screenshot.h
  src/Interface/Modules/Render/Screenshot.ui
  src/Interface/Modules/Render/ViewScene.cc
  src/Interface/Modules/Render/ViewScene.h
  src/Interface/Modules/Render/ViewSceneControlsDock.cc
  src/Interface/Modules/Render/ViewSceneControlsDock.h
  src/Modules/Render/CMakeLists.txt
  src/Modules/Render/ViewScene.cc
  src/Modules/Render/ViewScene.h
Labels: Modules, Graphics

#2383 Fix mac package
  src/Core/Algorithms/Base/Tests/AlgorithmBaseTests.cc
  src/Core/Application/Preferences/CMakeLists.txt
  src/Core/Application/Preferences/Preferences.cc
  src/Core/Application/Preferences/Preferences.h
  src/Core/ConsoleApplication/ConsoleCommands.cc
  src/Core/Python/PythonInterpreter.h
  src/Interface/Application/SCIRunMainWindowCommandInterface.cc
Labels: Deployment
