Repository SCIInstitute/SCIRun, pull requests merged in 2022-02, with the labels that each got.

#2365 First changes from Apple silicon machine
  .github/workflows/stale.yml
  Superbuild/TetgenExternal.cmake
  build.sh
Labels: Build, External Libraries

#2363 Fix for Holes in Superquadric Tensor Glyphs
  src/Graphics/Glyphs/GlyphGeomUtility.h
Labels: Graphics

#2340 @kimjohn1 edits to module tutorial
  docs/dev_doc/SCIRun5ModuleGeneration.md
Labels: Documentation
